<section class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-2 dashboard">
                    <div class="job">
                        <div class="admin py-3">
                            <p><b>Admin</b></p>
                            <p>Ver 2.1</p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-10">

                </div>
            </div>
        </div>
    </section>