<div class="col col-md-2 dashboard">
        <div class="detail-Admin text-center mt-5">
            <div class="image">
                <img src="/imageGame/gif_spider.webp" alt=""  style="width: 100px;height: 100px;">
            </div>
            <div class="detail">
                <h3 class="mt-3"><%= admin.fullname %></h3>
            </div>
        </div>

        
        <div class="link-dashboard mt-5">
            <div class="text-center">
                <h4>DASHBOARD</h4>
            </div>
            <ul class=" text-start mt-3 fs-5">
                <!-- /playstation/admin -->
                <li class="link"><a href="/playstation/admin" class="hub"><i class="fa fa-user me-5" aria-hidden="true"></i> &nbsp;Admin</a></li>
                <li class="link"><a href=""><i class="fa-solid fa-user-tie me-5"></i> Admin Account</a></li>
                <li><a data-bs-toggle="collapse" href="#home" role="button" aria-expanded="false" aria-controls="home"><i class="fa fa-home me-5" aria-hidden="true"></i></i> Navigation</a>
                    <ul class="collapse multi-collapse" id="home">
                        <li class="link"><a href="/" class="ms-5">- Home</a></li>
                        <li class="link"><a href="/game" class="ms-5">- Game</a></li>
                        <li class="link"><a href="" class="ms-5"> - PS5</a></li>
                        <li class="link"><a href="/news" class="ms-5">- News</a></li>
                    </ul>
                </li>

                <li><a data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa fa-gamepad me-5" aria-hidden="true"></i></i> Game</a>
                    <ul class="collapse multi-collapse" id="multiCollapseExample1">
                        <li class="link"><a href="/playstation/admin/gameManagement" class="ms-5">- Game List</a></li>
                        <li class="link"><a href="/playstation/admin/newReleases"    class="ms-5">- New releases</a></li>
                        <li class="link"><a href="/playstation/admin/gamecomingsoon" class="ms-5">- Coming soon</a></li>
                    </ul>
                </li>

                <!--  -->
                <li class="link"><a class="hub" href="/playstation/admin/devices"><i class="fa-solid fa-hard-drive me-5"></i> Device List</a></li>
                <li class="link"><a href="/playstation/admin/userAccount"><i class="fa-solid fa-circle-user me-5"></i> Customer</a></li>
                <li class="link"><a href="/playstation/admin/orders"><i class="fa fa-cart-plus me-5" aria-hidden="true"></i>Orders</a></li>
                
            </ul>
        </div>
        
        <div class="logout my-5 link">
            <a href="/playstation/admin/logout" class="ms-4">&nbsp;<img src="https://cdn-icons-png.flaticon.com/512/15602/15602339.png" alt="" class="me-5" style="width: 25px;height: 25px;"> Logout</a>
        </div>

</div>

                