 <nav class="navbar navbar-expand-lg navbar-dark text-d bg-light fs-4" style="height: 100px">
                <div class="container-fluid">
                    <!-- Logo -->
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-3">
                            <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" href="/game">Game</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" href="/">PS5</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" href="/news">News</a>
                        </li>


                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        
                        <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider text-dark"></li>
                            <li><a class="dropdown-item text-dark" href="#">Something else here</a></li>
                        </ul>
                        </li>

                    </ul>

                    <!-- 3 -->
                    <div class="d-flex">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>

                        <div class="me-3 btn_user">

                             <% if (data.cookieAccount == 1) { %>
                                <div class="ms-5">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle btn_user" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://ddragon.leagueoflegends.com/cdn/14.12.1/img/profileicon/5089.png" style="width: 30px; border-radius: 50%;" class="" alt="">
                                            <span class="text-dark ms-3"><%= data.infoAccount.TAIKHOAN %></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Cart</a></li>
                                            <li><a class="dropdown-item" href="/playstation/userAccount/<%= data.infoAccount.ID %>">Views</a></li>
                                            <li><a class="dropdown-item" href="#">Something else</a></li>

                                            <!--  -->
                                            <li><hr class="dropdown-divider"></li>
                                            <!--  -->

                                            <li><a class="dropdown-item text-danger" style="font-weight: 500;" href="/playstation/logout">Log Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            <% } %>

                        </div>

                        <div class="me-3 btn_signInr">
                            <div class="">
                                <% if (data.cookieAccount == 0) { %>
                                    <a href="/playstation/login" class="ms-5 btn-primary px-2 py-1" style="border-radius: 8%;">Sign In</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    </nav>